.main-title {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 100px!important;
}
.about {
    margin-top: 150px;
    padding-top: 200px!important;caption-side: v
}
.home {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 100px!important;
}

.project {
     margin-top: 50px;
    padding-top: 50px!important;
}
.row-one {
     margin-top: 25px;
    padding-top: 25px!important;
    margin-bottom: 100px;
}
.row-two {
    margin-top: 25px;
    padding-top: 25px!important;
    margin-bottom: 100px;

}

.oregon-outline {
    display: block;
    margin: auto;
    width: 40%;
}

.contact {
    margin-top: 20px;
    padding-top: 0px!important;
    margin-bottom: 50px;
}

.social-media {
      display: block;
    margin: auto;
    width: 25%;
}